<div class='col'>
    <!--GENRE-->
    <label><h4>GENRES</h4></label>
    <div class='p-3 border rounded row mr-2'>
        <!--GENRE COLUMN 1-->
        <div class='col'>
            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item1'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item1'
                >
                    Documentary
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item2'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item2'
                >
                    Short
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item3'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item3'
                >
                    Comedy
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item4'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item4'
                >
                    Crime
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item5'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item5'
                >
                    Western
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item6'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item6'
                >
                    Sci-Fi
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item7'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item7'
                >
                    War
                </label>
            </div>
        </div>

        <!--GENRE COLUMN 2-->
        <div class='col'>
            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item8'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item8'
                >
                    Family
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item9'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item9'
                >
                    Animation
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item10'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item10'
                >
                    Drama
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item11'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item11'
                >
                    Romance
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item12'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item12'
                >
                    Action
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item13'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item13'
                >
                    Horror
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item14'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item14'
                >
                    Musical
                </label>
            </div>
        </div>

        <!--GENRE COLUMN 3-->
        <div class='col'>
            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item15'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item15'
                >
                    Mystery
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item16'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item16'
                >
                    Thriller
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item17'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item17'
                >
                    Adult
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item18'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item18'
                >
                    Music
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item19'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item19'
                >
                    Fantasy
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item20'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item20'
                >
                    Adventure
                </label>
            </div>

            <!--GENRE-ITEM-->
            <div class='form-check'>
                <input
                    class='form-check-input'
                    type='checkbox'
                    value=''
                    id='{{type}}-genre-item21'
                />
                <label
                    class='form-check-label'
                    for='{{type}}-genre-item21'
                >
                    Film-Noir
                </label>
            </div>
        </div>
    </div>
</div>