<html lang='en'>
    <head>
        <link rel='stylesheet' href='../assets/lib/bootstrap/css/bootstrap.min.css' />
        <link rel='stylesheet' href='../assets/lib/font-awesome/css/all.css' />
        <script type='text/javascript' src='../assets/lib/popper/popper.js'></script>
        <script type='text/javascript' src='../assets/lib/jquery/jquery-3.6.0.js'></script>
        <script type='text/javascript' src='../assets/lib/bootstrap/js/bootstrap.bundle.min.js'></script>
        <script type='text/javascript' src='../assets/scripts/movie-validator.js'></script>
        <title>Edit Movie</title>
    </head>
    <body>
        <div class='container h-100 w-100 p-3 my-4'>
            <a href='../' class='h1'><i class='fas fa-arrow-left'></i></a><span class="h1 ml-3">EDIT MOVIE</span>
            <form action='/edit/{{id}}' method="POST" id="form" onsubmit="return validateInput()">
            <input name="old-name" value="{{name}}" type="hidden" />
            <input name="old-year" value="{{year}}" type="hidden" />
            <input name="old-rating" value="{{rating}}" type="hidden" />
            <input name="old-genre" value="{{genre}}" type="hidden" />
            <input name="old-director" value="{{director}}" type="hidden" />
            <input name="old-actor-1" value="{{actor_1}}" type="hidden" />
            <input name="old-actor-2" value="{{actor_2}}" type="hidden" />
            <div class='p-4 my-4 border rounded' id='movies-div'>
                <!--MOVIES-->
                <div class='p-4 my-4 border rounded' id='movies-div'>
                    <h2>MOVIE</h2>
                    <div class='row mt-4'>
                        <div class='col'>
                            <!--NAME-->
                            <div class='form-group'>
                                <label for='movies-name'><h4>NAME</h4></label>
                                <input
                                    type='text'
                                    class='form-control w-75'
                                    placeholder='Enter movie name'
                                    id='movies-name'
                                    name='movies-name'
                                    value="{{name}}"
                                />
                                <div
                                    class='text-danger'
                                    id='name-error'
                                ></div>
                            </div>
                            <!--YEAR-->
                            <div class='form-group'>
                                <label for='movies-year'><h4>YEAR</h4></label>
                                <input
                                    type='number'
                                    class='form-control w-75'
                                    placeholder='Enter movie year'
                                    id='movies-year'
                                    name='movies-year'
                                    min='1700'
                                    max='2200'
                                    step='1'
                                    value="{{year}}"
                                />
                                <div
                                    class='text-danger'
                                    id='year-error'
                                ></div>
                            </div>
                            <!--RATING-->
                            <div class='form-group'>
                                <label for='movies-rating'><h4>RATING</h4></label>
                                <input
                                    type='number'
                                    class='form-control w-75'
                                    placeholder='Enter movie rating'
                                    id='movies-rating'
                                    name='movies-rating'
                                    min='1'
                                    max='9.9'
                                    step='0.1'
                                    value="{{rating}}"
                                />
                                <div
                                    class='text-danger'
                                    id='rating-error'
                                ></div> </div>
                        </div>
                        <div class='col'>
                            <!--GENRE-->
                            <label><h4>GENRE</h4></label>
                            <div
                                class='text-danger'
                                id='genre-error'
                            ></div>
                            <div class='p-3 border rounded row mr-2' id='genres'>
                                <!--GENRE COLUMN 1-->
                                <div class='col'>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Documentary'
                                            id='movie-genre-item1'
                                            name='movies-genre'
                                            {{#if documentary}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item1'
                                        >
                                            Documentary
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Short'
                                            id='movie-genre-item2'
                                            name='movies-genre'
                                            {{#if short}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item2'
                                        >
                                            Short
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Comedy'
                                            id='movie-genre-item3'
                                            name='movies-genre'
                                            {{#if comedy}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item3'
                                        >
                                            Comedy
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Crime'
                                            id='movie-genre-item4'
                                            name='movies-genre'
                                            {{#if crime}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item4'
                                        >
                                            Crime
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Western'
                                            id='movie-genre-item5'
                                            name='movies-genre'
                                            {{#if western}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item5'
                                        >
                                            Western
                                        </label>
                                    </div>

                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Sci-Fi'
                                            id='movie-genre-item6'
                                            name='movies-genre'
                                            {{#if scifi}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item6'
                                        >
                                            Sci-Fi
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='War'
                                            id='movie-genre-item7'
                                            name='movies-genre'
                                            {{#if war}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item7'
                                        >
                                            War
                                        </label>
                                    </div>
                                </div>
                                <!--GENRE COLUMN 2-->
                                <div class='col'>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Family'
                                            id='movie-genre-item8'
                                            name='movies-genre'
                                            {{#if family}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item8'
                                        >
                                            Family
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Animation'
                                            id='movie-genre-item9'
                                            name='movies-genre'
                                            {{#if animation}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item9'
                                        >
                                            Animation
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Drama'
                                            id='movie-genre-item10'
                                            name='movies-genre'
                                            {{#if drama}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item10'
                                        >
                                            Drama
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Romance'
                                            id='movie-genre-item11'
                                            name='movies-genre'
                                            {{#if romance}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item11'
                                        >
                                            Romance
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Action'
                                            id='movie-genre-item12'
                                            name='movies-genre'
                                            {{#if action}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item12'
                                        >
                                            Action
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Horror'
                                            id='movie-genre-item13'
                                            name='movies-genre'
                                            {{#if horror}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item13'
                                        >
                                            Horror
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Musical'
                                            id='movie-genre-item14'
                                            name='movies-genre'
                                            {{#if musical}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item14'
                                        >
                                            Musical
                                        </label>
                                    </div>
                                </div>
                                <!--GENRE COLUMN 3-->
                                <div class='col'>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Mystery'
                                            id='movie-genre-item15'
                                            name='movies-genre'
                                            {{#if mystery}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item15'
                                        >
                                            Mystery
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Thriller'
                                            id='movie-genre-item16'
                                            name='movies-genre'
                                            {{#if thriller}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item16'
                                        >
                                            Thriller
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Adult'
                                            id='movie-genre-item17'
                                            name='movies-genre'
                                            {{#if adult}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item17'
                                        >
                                            Adult
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Music'
                                            id='movie-genre-item18'
                                            name='movies-genre'
                                            {{#if music}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item18'
                                        >
                                            Music
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Fantasy'
                                            id='movie-genre-item19'
                                            name='movies-genre'
                                            {{#if fantasy}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item19'
                                        >
                                            Fantasy
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Adventure'
                                            id='movie-genre-item20'
                                            name='movies-genre'
                                            {{#if adventure}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item20'
                                        >
                                            Adventure
                                        </label>
                                    </div>
                                    <!--GENRE-ITEM-->
                                    <div class='form-check'>
                                        <input
                                            class='form-check-input'
                                            type='radio'
                                            value='Filmnoir'
                                            id='movie-genre-item21'
                                            name='movies-genre'
                                            {{#if filmnoir}}checked{{/if}}
                                        />
                                        <label
                                            class='form-check-label'
                                            for='movie-genre-item21'
                                        >
                                            Film-Noir
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--DIRECTORS-->
                <div class='p-4 mt-4 border rounded' id='directors-div'>
                    <h2>DIRECTORS</h2>
                    <div class='row mt-4 pb-4'>
                        <div class='col'>
                            <!--FIRST NAME-->
                            <div class='form-group'>
                                <label><h4>NAME</h4></label>
                                <input
                                    type='text'
                                    class='form-control w-50'
                                    placeholder="Enter director's name"
                                    id='director-name'
                                    name='director-name'
                                    value='{{director}}'
                                />
                                <div
                                    class='text-danger'
                                    id='director-name-error'
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--ACTORS-->
                <div class='p-4 my-4 border rounded' id='actors-div'>
                    <h2>ACTORS</h2>
                    <div class='row mt-4 pb-4'>
                        <div class='col'>
                            <h3>Actor 1</h3>
                            <!--NAME-->
                            <div class='form-group'>
                                <label><h4>NAME</h4></label>
                                <input
                                    type='text'
                                    class='form-control w-75'
                                    placeholder="Enter actor's name"
                                    id='actor1-name'
                                    name='actor1-name'
                                    value='{{actor_1}}'
                                />
                                <div
                                    class='text-danger'
                                    id='actor1-name-error'
                                ></div>
                            </div>
                        </div>
                        <div class='col'>
                            <h3>Actor 2</h3>
                            <!--NAME-->
                            <div class='form-group'>
                                <label><h4>NAME</h4></label>
                                <input
                                    type='text'
                                    class='form-control w-75'
                                    placeholder="Enter actor's name"
                                    id='actor2-name'
                                    name='actor2-name'
                                    value='{{actor_2}}'
                                />
                                <div
                                    class='text-danger'
                                    id='actor2-name-error'
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class='d-flex flex-reverse'>
                    <!--FINAL SUBMIT-->
                    <button type='submit' class='btn btn-primary my-4 ml-auto' id='submit'>Submit</button>
                </div>
            </form>
        </div>
    </body>
</html>