<html lang='en'>
    <head>
        <link rel='stylesheet' href='../assets/lib/bootstrap/css/bootstrap.min.css' />

        <link rel='stylesheet' href='../assets/lib/font-awesome/css/all.css' />
        <link rel='stylesheet' href='../assets/styles/index.css' />

        <script type='text/javascript' src='../assets/lib/popper/popper.js'></script>
        <script type='text/javascript' src='../assets/lib/jquery/jquery-3.6.0.js'></script>
        <script type='text/javascript' src='../assets/lib/bootstrap/js/bootstrap.bundle.min.js'></script>

        <script type='text/javascript' src='../assets/scripts/index.js'></script>
        <title>Database Reports</title>
    </head>
    <body>
        <div class='container h-100 w-100 p-5'>
            <h1>Text-based Reports</h1>

            <div class='overflow-auto'>
                <h4>Total Movie Count:</h4>
                {{#each tot_movies}}
                    <h5 class='.ml-4'>{{this.count}}</h5>
                {{/each}}
            </div>

            <div>
                <h4>Average Rating of All Movies:</h4>
                {{#each avg_rating}}
                    <h5 class='.ml-4'>{{#if this.avg}}{{this.avg}}{{else}}no data{{/if}}</h5>
                {{/each}}
            </div>

            <div class='overflow-auto h-25'>
                <h4>Total Number of Movies Per Genre:</h4>
                {{#each tot_per_genre}}
                    <h5 class='.ml-4'>{{#if this.genre}}{{this.genre}}{{else}}null{{/if}}: {{this.count}}</h5>
                {{/each}}
            </div>

            <h4>Average Rating Per Genre:</h4>
            {{#each avg_per_genre}}
                <h5 class='.ml-4'>{{#if this.genre}}{{this.genre}}{{else}}null{{/if}}: {{#if this.avg}}{{this.avg}}{{else}}no data{{/if}}</h5>
            {{/each}}
            <h4>Total Number of Movies Per Year:</h4>
            {{#each tot_per_year}}
                <h5 class='.ml-4'>{{this.year}}: {{this.count}}</h5>
            {{/each}}

            <h4>Average Rating Per Year:</h4>
            {{#each avg_per_year}}
                <h5 class='.ml-4'>{{this.year}}: {{#if this.avg}}{{this.avg}}{{else}}no data{{/if}}</h5>
            {{/each}}
        </div>
    </body>
</html>